.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    height: 100vh;

    .card{
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 23, 71, 0.15);
        border-radius: 32px;
        padding: 64px 200px;
    }
    .developerSignature{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        padding: 14px 24px;
        border-radius: 8px;
        width: max-content;
        p{
            margin: 0px 12px 0px 0px;
        }
    }
}